.analitics {
  flex: 1 !important;
  display: flex !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100vh !important;
  width: 200vw !important;
  display: flex;
}

.analitics .nav-dash-analitics {
  padding: 0 18px;
}

.dashboard {
  width: 100vw;
}

.info-analitics {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: auto;
  background-color: #019974;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 2fr 1.5fr;
  row-gap: 20px;
  column-gap: 20px;
}

.grafic {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.grafic h2{
  font-size: 1.5em;
}

#graficBar {
  width: 80% !important;
  height: 90% !important;
}

.pizza {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
}

.pizza h2{
  font-size: 1.5em;
}

#graficPizza {
  width: 80% !important;
  height: 80% !important;
}


.top-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 18px 0;
  row-gap: 40px;
  transition: 1s;
}

.top-book h2 {
  color: #222;
  text-align: center;
  font-size: 1.8em;
}

@keyframes booksAnimation {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}
.books {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  transition: 1s all;
}


.book {
  width: auto;
  height: max-content;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  column-gap: 20px;
  transition: 1s;
}

.book img {
  object-fit: cover;
  width: 130px;
  height: 180px;
  border-radius: 10px;
}

.info-book h2{
  font-size: 1.2em;
  text-align: left;
}


.info-book h3{
  font-weight: 500;
  color: #019974  ;
  font-size: 1em;
  text-align: left;
}


.info-book::-webkit-scrollbar{
display: none;
}
.info-book{
  display: flex;
  overflow-x: scroll;
  width: 0;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  transition: 0.5s;
}

.info-book button{
  width: 120px;
 padding: 10px;
}



.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  padding: 15px;
  width: 100%;
  height: 107px;
  border-radius: 10px;
}

.card:nth-child(1) {
  background-color: #fff
}

.card:nth-child(2) {
  background-color: #222;
}


.card:nth-child(2) h2 {
  color: #019974;
}

.card:nth-child(2) span{
  font-size: 2em;
  color: #019974;
}

.card div {
  display: flex;
  justify-content: space-between;
}

.card div div {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.card span:nth-child(1) {
  font-size: 1.5em;
}


