.dash {
  flex: 1;
}

.nav-dash {
  position: fixed;
  width: 20%;
}

.principal {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;

}

.primeira {
  flex: 4;
  height: max-content;
}

.principal .container {
  width: 100%;
  justify-content: space-between;
  padding: 70px 0;
  height: 100%;
}

.content-text>div>#url {
  font-size: 1.2em;
  width: 60%;
  height: 60px;
  border-radius: 10px;
  background-color: #222;
  color: #fff;
  align-self: center;
 
}

.content-text>div>div>#genero {
  background-color: #006950;
  padding: 0;
  height: 29px;
  width: 132px;
  font-size: .8em;
  color: #fff;
  font-weight: bold;
}

.content-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  width: 50%;
  align-items: center;

}

.content-img{
  flex: 1;
}
.content-img img {
  object-fit: cover;
width: 320px;
height: 500px;
  border-radius: 20px;
}

.content-text h2 {
  width: 500px;

  font-size: 3em;
  margin-bottom: 10px;
}

.content-text h4 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  margin-bottom: 10px;
}

.content-text h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 20px;
}

.descricao {
  padding: 50px 0 50px;
  width: 100%;
  background-color: #F6EFEF;
}

.descricao div {
  width: 80%;
  margin: auto;


}

.descricao div h2 {
  color: #019974;
  font-size: 2.3em;
  margin-bottom: 20px;
}

.descricao div p {
  font-size: 1.3em;
}