/* SCROOL-REVIEW */
@keyframes animation {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(10%,-16%);
  }
  100%{
    transform: translate(0px,0px);
  }
}

@keyframes animation-reverse {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(-10%,16%);
  }
  100%{
    transform: translate(0px,0px);
  }
}
.index .bool{
  width: 300px;
  height: 300px;
  position: absolute;
  background-color:rgba(0, 105, 80,0.9) ;
  border-radius: 50%;
  z-index: -1;
  
}
.index .bool:nth-child(2){
  left: 5%;
  top: 15%;
  animation: 10s animation-reverse alternate infinite;
}

.index .bool:nth-child(1){
  bottom: 10%;
  right: 5% ;
  animation: 10s animation alternate infinite;
}

.index{
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.content-text{
  flex: 1;
}

.index .content-text h2{
  font-size: 5.5em;
  margin-bottom: 30px;
  mix-blend-mode: color-dodge;
}

.index .content-text p {
  font-size: 1.5em;
  margin-bottom: 50px;
  mix-blend-mode: darken;
}


.content-img{
  flex: 1;
}


.index .content-img img{
  object-fit: cover;
  border-radius: 50%;
  width: 70%;
  margin: auto;
}

.sessao2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items:center ;
}

.sessao2 .container h2{
  font-size: 5em;
}

.sessao2 .container p{
  font-size: 2em;
  font-weight: 500;
}

.sessao2 .container .content-img>img{
  width: 70%;
}

.sessao3{
  display: flex;
  align-items: center;
  min-height: 100vh;
} 

.sessao3 .container{
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 90px;
}

.sessao3 .container h2{
  font-size: 3em;
  text-align: center;
}

.sessao3 .container p {
text-align: center;
margin: auto;
width: 70%;
margin-top: 70px;
}

.sessao3 .container .content-img img{
  width: 100%;
  height: 250px;
}

.sessao4{
  display:  flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.sessao4 h2{
  font-size: 4em;
  margin-bottom: 30px;
  margin: 20px 0;
}
.sessao4 .container{
  flex-direction: row-reverse;
}

.sessao4 .container img{
  width: 100%;
  object-fit: cover;
  margin-right: auto;
}



