/* SCROOL-REVIEW */

@keyframes animation {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(10%,-16%);
  }
  100%{
    transform: translate(0px,0px);
  }
}

@keyframes animation-reverse {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(-10%,16%);
  }
  100%{
    transform: translate(0px,0px);
  }
}


.index .bool{
  width: 300px;
  height: 300px;
  position: absolute;
  background-color:rgba(0, 105, 80,0.9) ;
  border-radius: 50%;
  z-index: -1;
  
}
.index .bool:nth-child(2){
  left: 5%;
  top: 15%;
  animation: 10s animation-reverse alternate infinite;
}

.index .bool:nth-child(1){
  bottom: 10%;
  right: 5% ;
  animation: 10s animation alternate infinite;
}

.index{
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.content-text{
  flex: 1;
}

.index .content-text h2{
  font-size: 5.5em;
  margin-bottom: 30px;
  mix-blend-mode: color-dodge;
}

.index .content-text p {
  font-size: 1.5em;
  margin-bottom: 50px;
  mix-blend-mode: darken;
}


.content-img{
  flex: 1;
}


.index .content-img img{
  object-fit: cover;
  border-radius: 50%;
  width: 70%;
  margin: auto;
}

.sessao2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items:center ;
  flex-direction: column;
  row-gap: 40px ;
  justify-content: center;  
}


.sessao2 .container h2{
  font-size: 5em;
}

.sessao2 .container p{
  font-size: 2em;
  font-weight: 500;
}

.sessao2 .container .content-img>img{
  width: 70%;
}

.sessao3{
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
} 

.sessao3 .container{
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 90px;
}

.sessao3 .container h2{
  font-size: 3em;
  text-align: center;
}

.sessao3 .container p {
text-align: center;
margin: auto;
width: 70%;
margin-top: 70px;
}

.sessao3 .container .content-img img{
  width: 100%;
  height: 250px;
}

.sessao4{
  display:  flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.sessao4 h2{
  font-size: 4em;
  margin-bottom: 30px;
  margin: 20px 0;
}
.sessao4 .container{
  flex-direction: row-reverse;
}

.sessao4 .container img{
  width: 100%;
  object-fit: cover;
  margin-right: auto;
}

.sessao5{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  min-height: 100vh;
}

.sessao5 .container{
  flex-direction: column;
}

.sessao5 h2{
  font-size: 3em;
  text-align: center;
}

.sessao5 .container{
  row-gap: 50px;
  width: 100%;
  justify-content: space-between;
}


.sessao5 .container .content-img{
width: auto;
height: 100%;
}
.book{
  display: flex;
  justify-content: center;
  column-gap: 70px;
}

.book .img{
width: 300px;
}

.book .group-text{
 width: 40%;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.sessao6{
  flex-direction: column;
}

.sessao6 .container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}


.book .group-text h2{
  text-align: left;
}

.sessao6 .container .content-text{
  flex:0
}

.sessao6 .container .content-img{
  flex:0;
  width: 60%;
  font-size: 1.5em;
  text-align: center;
}

.sessao6 .container .content-text h2{
  font-size: 4em;
}

.sessao6 .container .content-text h3{
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}


.card{
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  perspective: 1100px;

}

.text-container-card {
  position: absolute;
  left: 2%;
}
.text-container-card h2{
  color: #222;
  font-size: 3em;
}

.cards{
  position: relative;
  transition-delay: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-cartao{
  width: 350px;
  height: 80px;
  background-color: #152745;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #222;
  position: absolute;
  z-index: 0;
  top: -330px;
}

.encaixe{
  width: 50%;
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
  
}
.cordao{
  width: 310px;
  height: 50px;
  background-color: #00B3BF;
  position: absolute;
  
}
.logo-card{
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.logo-card img{
  width: 80%;
  display: block;
  margin: auto
}
 .top-cartao :nth-child(2){
  transform: rotate(60deg) translate(-100px,20px);
  
}

.top-cartao :nth-child(3){
  transform: rotate(120deg) translate(-100px,-20px);

}

.face{
  width: 350px;
  height: 500px;
  background-color: #152745;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
}

.face>h2,.face>p{
  color: #fff;
}


.face .img{
  width: 50%;
  border-radius: 50%;
}

.face .img img{
  border-radius: 50%;
  width: 100%;
}

.face div h2{
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.face div h3{
  color: #fff;
  font-size: 1.5em;
}
.face .social-media{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#verso{
  transform: rotateY(180deg);
  padding: 18px;
}

#verso h2{
  font-size: 2em;
}

#verso p{
  font-size: 0.9em;
}

#switch{
  display: none;
}
#switch:checked ~ .cards{
transform: rotateY(180deg);
}


