* {
  margin: 0;
  padding: 0;
  color: #222;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}


html::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

html::-webkit-scrollbar-thumb {
  background-color: #222;
}

img {
  width: 100%;

}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 70px;
}

header .container {
  position: fixed;
  height: 70px;
  right: 10%;
  left: 10%;
  transition: 1s;
  z-index: 999;
}

header .container.active{
  background-color: #006950;
  transform: translateY(40px);
  transition: 1s;
  border-radius: 40px;
  padding: 0 30px;

}

.container.active>.logo a, .container.active ul li,.container.active ul a{
  color: #fff;
}

.session {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logo a,.logo {
  font-size: 1.3em;
  color: #019974;
}


.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  padding: 10px;
  font-size: 1.25em;
  cursor: pointer;
}

.navbar li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #019974;
  transition: .4s;
}

.navbar li:hover::after {
  width: 100%;
  transition: .4s;
}

.session .container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-text h2 {
  font-size: 100px;
  color: #019974;
}

.content-text h2 span {
  color: #fff;
  -webkit-text-stroke: 1px #019974;
  font-weight: 500;

}

.content-text p {
  font-size: 30px;
}

button {
  width: 200px;
  height: 49px;
  border-radius: 40px;
  background: none;
  border: 1px solid #019974;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: #222;
}

button:hover {
  background-color: #006950;
  transition: 0.5s;
  color: #fff;
}

.content-text button img {
  vertical-align: middle;
  width: max-content;
}

.content-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-img .img-home:nth-child(1) {
  position: absolute;
  display: block;
  width: 200px;
}

.content-img .img-home:nth-child(2) {
  position: absolute;
  display: block;
  width: 250px;
  transform: translateX(-40px);
}

.content-img .img-home:nth-child(3) {
  transform: translateX(-80px);
  width: 290px;
}

@keyframes scroll {
  100% {
    transform: rotate(-45deg) translate(-10px, 40px);
  }
}

@keyframes bolinha {
  100% {
    transform: translate(16.5px, 10px);
  }
}

.animation {
  display: flex;
  width: 100px;
  margin: 0 auto;
}

.scroll {
  width: 40px;
  height: 60px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
}

.scroll:after {
  content: '';
  display: block;
  width: 5px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #006950;
  transform: translate(16px, 5px);
}


.scroll div {
  width: 6px;
  height: 17px;
  background-color: #006950;
  z-index: 999;
  position: absolute;
  border-radius: 10px;
  transform: translate(16.5px, 5px);
  animation: 1s bolinha alternate infinite;
}

.arrow {
  transform: rotate(-45deg) translate(10px, 20px);
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  animation: 1s scroll infinite alternate;
}

.arrow::before {
  content: '';
  width: 50px;
  height: 1px;
  display: block;
  background-color: #000;
  transform: rotate(-45deg) translate(-5px, 2px);

}

.session-carrossel>div {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.session-carrossel>div::-webkit-scrollbar {
  display: none;
}

.session-carrossel {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.group {
  display: flex;
  width: max-content;
}

.session-carrossel>h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
}

.session-carrossel .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 30px;
  align-items: center;
  width: 100vw !important;
  margin: 0;
  padding: 0 100px;
}



.content-text-carrossel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 570px;
  height: 450px;
}

.content-text-carrossel h2 {
  font-size: 50px;
  color: #fff;
}

.content-text-carrossel h3 {
  font-size: 30px;
  color: #019974;
  margin-bottom: 30px;
}

.content-text-carrossel p {
  font-size: 20px;
  color: #fff;
}

.book img {
  height: 513px;
}

.content-text-carrossel button {
  width: max-content;
  width: 233px;
  height: 63px;
  background: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: #019974;
  cursor: pointer;
  color: #fff;
}

.session-carrossel .btn{
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: #006950;
  font-size: 2em;
  right: 10px;
  opacity: 0;
}

.session-carrossel .btn:nth-child(2){
  left: 10px;
}

.session-carrossel:hover .btn{
  opacity: 1;
}

.btn-carrossel {
  font-size: 6em;
  margin-left: 50px;
  color: #019974;
  cursor: pointer;

}

.book-write h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

.book-write .container .content-img {
  flex: 1;

}

.book-write .container .content-img img {
  width: 500px;
}

.book-write .container .content-text {
  flex: 2;
}

.book-write .content-text p {
  margin-bottom: 70px;
  font-size: 45px;
  color: #006950;
}



footer {
  width: 100%;
  height: 120px;
  background-color: #222;
}


.footer-text>h2,
.social-media h2 {
  color: #fff;
  font-weight: 300;
}

footer p {
  text-align: center;
  color: #019974;
  font-size: 0.8em;
}